@import 'colors';
@import 'mixins';

.ui.card {
  .won {
    color: $white;
    background-color: $green;
  }
  .lost {
    color: $white;
    background-color: $red;
  }
  .in_play {
    color: $white;
    background-color: $blue;
  }
  .needs-pick {
    color: $black;
    background-color: $yellow;
  }
}

.ui.container {
  .week-results, .team-picks {
    .item {
      border: 1px solid $grey;
      margin: 10px 0px;
      .matchup-details {
        font-size: 16px;
        font-style: italic;
      }
      .picked-team-result {
        &.won {
          color: $green;
        }
        &.lost {
          color: $red;
        }
        &.pending {
          color: $blue;
        }
      }
    }
  }
}

.placeholder {
  color: $grey !important;
}

.italics {
  font-style: italic;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}
